body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

.search-container {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #ffcb05;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ffdb4d;
}

.card {
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.oculto {
    display: none;
}

img {
    width: 150px;
    height: 150px;
}
