body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: #ae62cc;
}

h1 {
  font-size: 60px;
  margin: 20px 0;
  transition: color 0.3s;
  color: rgb(255, 233, 233);
 
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #60af4c;
  color: rgb(255, 18, 223);
  transition: background-color 0.3s;
}

button:hover {
  background-color: #860000;
}
#decrementar {
  background-color: #3c5ea8;
}

#decrementar:hover {
  background-color: #ce8627;
}
